body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcede6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@keyframes shaker {
  20% {
    transform: translate(-15px, -40px) rotate(-40deg);
  }
  40% {
    transform: translate(-5px, -25px) rotate(-25deg);
  }
  50% {
    transform: translate(-10px, -35px) rotate(-35deg);
  }
  60% {
    transform: translate(-5px, -25px) rotate(-25deg);
  }
  70% {
    transform: translate(-10px, -35px) rotate(-35deg);
  }
  80% {
    transform: translate(-5px, -25px) rotate(-25deg);
  }
}

.shaker {
  animation: shaker 0.75s ease-in-out forwards;
}

.shaker {
  height: 75px;
}

.navbar {
  background-color: #fcede6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
}

.screenBelowNav {
  padding-top: 30px;
  overflow: scroll;
}
