/*
colors from logo
light pink: #FCEDE6
med pink: #FCA4A0
dark pink: #FC716E
navy: #00417E
dark navy: #001245
*/

body {
  background-color: #fcede6;
}

.singleDrinkImage {
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.singleDrinkImage img {
  height: 300px;
  border-radius: 10px;
}

/* .navbar {
  background-color: #fca4a0;
}

.navbar h3 {
  display: inline-block;
  text-align: left;
  padding: 10px;
  color: #00417e;
  text-decoration: none;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: #00417e;
  text-decoration: none;
}

.page-info {
  padding: 10px;
}

.Current {
  color: #2e8b57;
}

.Completed {
  color: #ff6347;
  text-decoration: line-through;
} */
