body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcede6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: #262525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes shaker {
  20% {
    transform: translate(-15px, -40px) rotate(-40deg);
  }
  40% {
    transform: translate(-5px, -25px) rotate(-25deg);
  }
  50% {
    transform: translate(-10px, -35px) rotate(-35deg);
  }
  60% {
    transform: translate(-5px, -25px) rotate(-25deg);
  }
  70% {
    transform: translate(-10px, -35px) rotate(-35deg);
  }
  80% {
    transform: translate(-5px, -25px) rotate(-25deg);
  }
}

.shaker {
  animation: shaker 0.75s ease-in-out forwards;
}

.shaker {
  height: 75px;
}

.homeButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeButtons button {
  margin: 20px;
  width: 250px;
}

.navbar {
  background-color: #fcede6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 0px 0px 4px 4px;
}

.screenBelowNav {
  padding-top: 90px;
  overflow: scroll;
}

form {
  position: fixed;
  top: 40px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcede6;
}

.screenBelowNav form input {
  margin: 10px;
  padding: 10px;
}

.screenBelowNav form button {
  margin: 10px;
  padding: 10px;
}

.singleDrinkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 14px;
  margin: 20px auto;
}

.singleDrinkCard h1 {
  margin: 15px auto 10px auto;
}

.singleDrinkInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleDrinkImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
}

.singleDrinkImage img {
  height: 310px;
}

.singleDrinkIngredients {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 20px;
}

.singleDrinkIngredients h3 {
  text-decoration: underline;
  margin-bottom: 2px;
}

.singleDrinkIngredients p {
  margin: 6px auto 6px auto;
  font-style: italic;
}

.singleDrinkDirections {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0px 20px 0px 20px;
}

.singleDrinkDirections h3 {
  text-decoration: underline;
  margin-bottom: 2px;
}

.singleDrinkDirections p {
  margin: 6px auto 15px auto;
  font-style: italic;
}
